ul.nav li.dropdown:hover ul.dropdown-menu { display: block; }
h1 a{ display: inline-block; background: url('../img/darth_vader.jpg') no-repeat; height: 70px; padding: 20px 0 0 90px; color: black; }
h1 a:hover { text-decoration: none; color: black; }
h2 a { color: black; }

h1, h2, h3 { font-family: georgia, serif; }

.sitename {
  font-size: 2.2em;
}

p.pubdate { font-style: italic; font-size: 0.9em; }
p.author {font-weight: bold;}

.sidebar h3 { font-size: 1em; line-height: 1.2em; margin-bottom: 0; }
.sidebar ul { margin-left: 0; list-style-type: none; }


.sidebar h2 { 
	font-size: 1.5em; 
	line-height: 1.2em;	
	display: block;
	color:white;
	background: #ce4213;
	padding: 7px;
	text-align: center;
	font-size: 110%;
 	 border-radius: 4px 4px 4px 4px;
  	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}

.component {
	padding: 0px 5px 5px 5px;
	margin: 0px 0px 20px 0px;
	border-radius: 4px 4px 4px 4px;
  	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
